@{
    ViewBag.Title = "ReestablecerContraseña";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Materia - Admin Template">
    <meta name="keywords" content="materia, webapp, admin, dashboard, template, ui">
    <meta name="author" content="solutionportal">
    <!-- <base href="/"> -->
    <!-- Icons -->
    @Styles.Render("~/fonts/ionicons/css/ionicons.min.css")


    <!-- Fonts -->
    @Styles.Render("~/fonts/font-awesome/css/font-awesome.min.css")


    <!-- Plugins -->
    @Styles.Render("~/styles/plugins")


    <!-- Css/Less Stylesheets -->
    @Styles.Render("~/styles/bootstrap.min.css")
    @Styles.Render("~/styles/main.min.css")




    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'> -->
    <!-- Match Media polyfill for IE9 -->
    <!--[if IE 9]> @Scripts.Render("~/scripts/ie/matchMedia.js") <![endif]-->


</head>
<body id="app" class="app off-canvas body-full">



    <!-- main-container -->
    <div class="main-container clearfix">

        <!-- content-here -->
        <div class="content-container" id="content">
            <div class="page page-auth">

                <div class="auth-container">

                    <div class="form-head mb20">
                        <h1 class="site-logo h2 mb5 mt5 text-center text-uppercase text-bold"><a href="/">Reestablecer Contraseña</a></h1>
                    </div>

                    <div class="form-container">
                        <form class="form-horizontal" action="javascript:;">
                            <p class="small text-center mb20">@Request.QueryString["user"], porfavor ingresa tu nueva contraeña</p>
                            <div class="md-input-container md-float-label">
                                <input id="txtPassword" type="password" class="md-input">
                                <label>Password</label>
                            </div>
                            <div class="md-input-container md-float-label">
                                <input id="txtRePassword" type="password" class="md-input">
                                <label>Retype Password</label>
                            </div>
                            <div id="mensaje1" class="errores" style="display:none; color:red;">&nbsp;</div>
                            <button id="btnReset" type="submit" class="btn btn-primary btn-block text-uppercase btn-lg">Cambiar Contraseña</button>
                        </form>
                    </div>

                </div> <!-- #end signin-container -->
            </div>



        </div>
        <!-- #end content-container -->

    </div> <!-- #end main-container -->
    <!-- Dev only -->
    <!-- Vendors -->
    @Scripts.Render("~/scripts/vendors.js")
    @Scripts.Render("~/scripts/connectAsy.js")
    @Scripts.Render("~/scripts/view/ReestablecerPassword.init.js")

</body>
</html>
